* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
  }
  
  header {
    background-color: #000;
    padding: 20px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  .login-container {
    background-color: white;
    padding: 40px;
    margin: 100px auto;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .login-container h2 {
    margin-bottom: 20px;
  }
  
  .login-container form {
    display: flex;
    flex-direction: column;
  }
  
  .login-container input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-container button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-container button:hover {
    background-color: #0056b3;
  }
  
  .options {
    display: flex;
    align-items: center; /* Stellt sicher, dass Checkbox und Text in einer Zeile zentriert sind */
    font-size: 13px; /* Verkleinert die Schriftgröße */
  }
  
  .options label {
    margin-left: 5px; /* Optional: Abstand zwischen Checkbox und Text */
    font-size: 11px; /* Verkleinert die Schriftgröße */
    color: #000; /* Optional: Farbe des Textes ändern */
  }
  
  .options a {
    margin-left: 15px; /* Vergrößert den Abstand zwischen "Remember me" und "Forgot Password?" */
    text-decoration: none;
    color: #007BFF; /* Optional: Linkfarbe */
    margin-top: -11px; /* Hebt den Link um 5px an */
  }
  
  html, body {
    height: 100%;
    width: 100%;
  }
  
  main {
    min-height: calc(100vh - 100px); /* Assuming the header height is 100px */
    padding: 20px;
    width: 300px;
    text-align: center;
    margin: 222%;
  }
  
  header {
    position: fixed;
    width: 100%;
    top: 0;
  }
  
  .login-container {
    margin-top: 150px; /* Adjust this margin to account for the fixed header */
  }
  